p(ng-if='!$ctrl.songs.length') None

md-list(ng-if='$ctrl.songs.length')
    md-list-item(ng-repeat="song in $ctrl.songs")
        md-button(layout="row" flex)
            i(class="material-icons") account_circle
            span {{ song.artist.name }} - {{ song.title }}
            span Average Rating: {{ song.averageRating }}
