.songs-list__song-icon {
    font-size: 36px;
    margin: 0 10px 0 0;
}

.songs-list__song-details {
    flex-grow: 1;
    text-align: left;
}

.songs-list__song-artist {
    line-height: 16px;
    font-weight: bold;
}

.songs-list__song-title {
    line-height: 16px;
}