md-toolbar.footer__wrapper
    span.footer__button(ng-click='$ctrl.goToSongs()')
        i.footer__button-icon(class='material-icons') music_note
        .footer__button-text Songs
    span.footer__button(ng-click='$ctrl.logout()')
        i.footer__button-icon(class='material-icons') exit_to_app
        .footer__button-text Logout
