.header__wrapper {
    display: flex;
    flex-direction: row;
    height: 45px;
    min-height: 45px;
    position: fixed;
    text-align: center;
    width: 100%;
}

/* Add empty content for the sticky header */
header::after {
    content: '';
    display: block;
    padding-top: 45px;
}

.header__title {
    flex-grow: 1;
    font-weight: bold;
    margin: auto 0;
}

.header__button {
    font-size: 14px;
}

.header__spinner {
    color: white;
    margin: 0 auto;
}