md-toolbar.header__wrapper
    md-button.header__button(ng-click='$ctrl.leftButtonClick()' aria-label='$ctrl.leftText')
        span {{ $ctrl.leftText }}
    .header__title {{ $ctrl.title }}
    md-button.header__button(ng-click='$ctrl.rightButtonClick()' aria-label='$ctrl.rightText')
        span(ng-if='!$ctrl.isLoading()') {{ $ctrl.rightText }}
        md-progress-circular.md-accent.header__spinner(ng-if='$ctrl.isLoading()' md-diameter='25px')