.song-viewer__wrapper
    i.song-viewer__song-icon(class="material-icons") account_circle
    p Average Rating: {{ $ctrl.song.averageRating }}
    h2 {{ $ctrl.song.artist.name }}
    h3 {{ $ctrl.song.title }}