header(title='Song' right-text='$ctrl.getHeaderRightText()' on-right-button-click='$ctrl.headerRightButtonClick()' state='$ctrl.headerState')
p(ng-if='$ctrl.state.isLoading()') Loading...
p(ng-if='$ctrl.state.isError()') Could not load your song!
div(ng-if='$ctrl.state.isReady()')
    song-viewer(ng-if='!$ctrl.isEditing' song='$ctrl.song')
    song-editor(ng-if='$ctrl.isEditing' song='$ctrl.song' on-delete='$ctrl.delete(id)')
footer