.song-editor__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.song-editor__song-icon {
    font-size: 96px;
}

.song-editor__input-container {
    margin: 25px auto 0;
    width: 350px !important;
}