.song-editor__wrapper
    i.song-editor__song-icon(class='material-icons') music_note
    md-input-container.song-editor__input-container
        label Artist
        input.song-editor__artist(ng-model='$ctrl.song.artist.name')
    md-input-container.song-editor__input-container
        label Song
        input.song-editor__title(ng-model='$ctrl.song.title')
    md-input-container.song-editor__input-container
        label Notes
        input.song-editor__notes(ng-model='$ctrl.song.notes')
    md-button.md-warn.md-raised(
        ng-if='$ctrl.song._id'
        ng-click='$ctrl.onDelete({ id: $ctrl.song._id })'
        aria-label='Delete Song'
    ) Delete
