.artists-list__artist-icon {
    font-size: 36px;
    margin: 0 10px 0 0;
}

.artists-list__artist-details {
    flex-grow: 1;
    text-align: left;
}

.artists-list__artist-name {
    line-height: 16px;
    font-weight: bold;
}

.artists-list__artist-songs {
    line-height: 16px;
}