doctype html
html(ng-app='karaokeApp')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        title Karaoke App

        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="css/vendor.css")
        link(rel="stylesheet" href="css/app.css")

        script(src="js/vendor.js")
        script(src="js/app.js")

body
    div(ui-view)
