form.user-credentials__wrapper(name='$ctrl.form' role='form')
    md-input-container
        label Username
        input(ng-model='$ctrl.username' required ng-disabled='$ctrl.state.isLoading()')
    md-input-container(ng-if='$ctrl.isSignUp')
        label Name
        input(ng-model='$ctrl.name' required ng-disabled='$ctrl.state.isLoading()')
    md-input-container
        label Password
        input(ng-model='$ctrl.password' type='password' required ng-disabled='$ctrl.state.isLoading()')
    md-input-container(ng-if='$ctrl.isSignUp')
        label Repeat Password
        input(ng-model='$ctrl.repeatPassword' type='password' compare-to='$ctrl.password' required ng-disabled='$ctrl.state.isLoading()')
    md-button.md-primary.md-raised(
        ng-if='$ctrl.state.isReady()'
        ng-disabled='$ctrl.form.$invalid'
        ng-click='$ctrl.onSubmit({ credentials: { username: $ctrl.username, name: $ctrl.name, password: $ctrl.password } })'
        aria-label='$ctrl.buttonText'
    ) {{ $ctrl.buttonText }}
    md-progress-circular.md-accent.header__spinner(ng-if='$ctrl.state.isLoading()' md-diameter='25px')